name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  detect-skip-ci-trigger:
    name: Detect CI Trigger
    runs-on: ubuntu-latest
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - uses: keewis/ci-trigger@v1
      id: detect-trigger
      with:
        keyword: "[skip-ci]"

  unit-tests:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    needs: detect-skip-ci-trigger
    if: needs.detect-skip-ci-trigger.outputs.triggered == 'false'

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: checkout the repository
      uses: actions/checkout@v2

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: upgrade pip
      run: python -m pip install --upgrade pip

    - name: install dependencies
      run: |
        python -m pip install -r ci/requirements/normal.txt

    - name: install blackdoc
      run: python -m pip install .

    - name: show versions
      run: python -m pip list

    - name: run tests
      run: python -m pytest

  docs:
    name: Docs
    runs-on: ubuntu-latest

    steps:
    - name: checkout the repository
      uses: actions/checkout@v2

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: upgrade pip
      run: python -m pip install --upgrade pip

    - name: install dependencies
      run: python -m pip install -r ci/requirements/doc.txt

    - name: show versions
      run: python -m pip list

    - name: run sphinx
      run: |
        cd doc
        python -m sphinx -M html -d _build/doctrees -Ea -WT --keep-going -n . _build/html
